@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Funnel+Display:wght@300..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Knewave&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Funnel+Display:wght@300..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Knewave&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2px;
  color: black;
}

header{
    background-color: burlywood;
    padding-top: 10px;
    
}

nav a{
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  display:inline; 
  margin: 10px;
  padding: 15px;
  text-decoration: none;
}

nav{
    text-align: right;
}

nav a:hover {
    background-color: rgb(241, 204, 156);
}

footer{
    background-color: burlywood;
    text-align: center;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body
body img{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

body header h1{ 
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 10px;
  padding: 15px;
}

body h1{
    font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 10px;
  padding: 15px;
}

main p{
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: black;
  margin: 10px;
  padding: 15px;
  text-align: justify;
  line-height: 25px;
}

.flexbox img{
  max-width: 100%;
  display: block;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flexbox > div {
  flex: 1 1 200px ;
  margin: 10px;
}

.flexbox div p{
  text-align: center;
}